<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>website</title>
  </head>
  <body class="bg-dark text-light">
    <div class="container">
      <!-- Image and text -->
      <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-light" href="{{URL}}">
          <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Bootstrap
        </a>
      </nav>
      <form action="/{{function=md5('adminconfig')}}" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">dashboard</label>
          <input type="text" class="form-control" aria-describedby="textHelp" placeholder="Servidor" name="dashboard">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">URI Default</label>
          <input type="url" class="form-control" aria-describedby="textHelp" placeholder="127.0.0.1" name="uri">
        </div>
        <div class="form-group">
            <label for="exampleInputtext1">email</label>
            <input type="text" class="form-control" aria-describedby="textHelp" placeholder="Nome do Banco" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">name</label>
            <input type="text" class="form-control" aria-describedby="textHelp" placeholder="Usuario" name="name">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">login</label>
            <input type="login" class="form-control" aria-describedby="textHelp" placeholder="Senha" name="login">
          </div>
          <div class="form-group">
            <label for="exampleInputtext1">password</label>
            <input type="password" class="form-control" aria-describedby="textHelp" placeholder="Senha" name="passwordadmin">
          </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
      </form>
    </div>     
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>